<h1> MY TASKS</h1>
<% @tasks.each do  |task| %>
   <% task.completed ? checked = "checked" : checked = "nil" %>
  <li><label><input type="checkbox" disabled <%= checked %>><span><%= link_to task.title, task_path(task.id) %> <%= link_to "Delete",
            task_path(task),
            method: :delete,
            data: { confirm: "Are you sure?" } %></span></label></li>
<% end %>
<%= link_to "Add a new task", tasks_new_path %>
